/*CSS file to style about.php file*/
 /****styling the body ****/
body 
	{
		margin: 0;
		font-family: 'Open Sans', sans-serif;  
	}
 /****styling the main from the top to bottom ****/
.main 
	{
		float: left;   
		width: 100%;
	}
/****styling the headimg for the header image ****/
.headimg
	{
		margin: auto;                 
		max-width: 1200px;
	}
/****styling the imgbox for the header image ****/
.imgbox
	{
		float: left;
		width: 100%;
	}
.imgbox img
	{
		float: left;
		width: 100%;
	}
/****styling the midWrap class****/
.midWrap 
	{
		max-width: 1200px;
		margin: auto;
	}
/****styling the wrapper class****/
.wrapper 
	{
		float: left;
		width: 96%;
		margin: 20px 2%;
	}
/****styling the topWrap for heading ****/
.topwrap 
	{
		float: left;
		width: 100%;
		display: block;
		text-align: center;
	}
.topwrap h1
	{
		float: left;
		width: 100%;
		font-family: cursive;
		text-align: center;
		margin: 0;
		padding: 0;
		display: block;
		position: relative;
		font-size: 36px;
	}
.topwrap span
	{
		width: 100px;
		border-bottom: solid 2px #FFB900;
		position: absolute;
		left: 0;
		right: 0;
		top: 50px;
		text-align: center;
		margin: auto;
	}
/****styling the marquee class ****/
.marquee 
	{
		float: left;
		width: 100%;
	}
.marquee h2 
	{
		margin: 20px 0 0 0;
		padding: 0;
		text-align: center;
		float: left;
		width: 100%;
		font-size: 30px;
	}
/****styling the bodyWrap for description ****/
.bodyWrap 
	{
		float: left;
		width: 100%;
		margin: 30px 0;
	}
/****styling the para class for the paragraphs description ****/
.para 
	{
		float: left;
		width: 100%;
	}
.para p
	{
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: 16px;
		line-height: 23px;
		text-align: justify;
	}
/****styling the headings class for the heading of the paragraphs****/
.headings 
	{
		float: left;
		width: 100%;
	}
.headings h2
	{
		float: left;
		width: 100%;
		color: #2D55A4;
		font-size: 26px;
		margin: 20px 0;
	}
.para a 
	{
		text-decoration: none;
		color: #2D55A4;
		font-weight: bold;
	}
.para p span
	{
		float: left;
		background-image: url(../images/arrow2.png);
		width: 10px;
		height: 15px;
		margin: 4px 15px 0 15px;
	}
