body 
	{
		font-family: arial;
	}
.main3
	{
		float: left;
		width: 100%;
		background-color: rgba(0,0,0,0.8);
		position: fixed;
		top: 0;
		z-index: 999;
		height: 100%;
	}
.midWrap3
	{
		max-width: 450px;
		margin: auto;
	}
.wrapper3
	{
		float: left;
		width: calc(100% - 22px);
		border: solid 1px #666;
		padding: 10px;
		border-radius: 5px;
		margin-top: 35%;
		background-color: #fff;
	}
.login 
	{
		float: left;
		width: 100%;
	}
.topic 
	{
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
	}
.topic li 
	{
		float: left;
		margin: 0 20px 0 0;
		padding: 0 0 5px 0;
		font-size: 15px;
		font-weight: bold;
		color: #666;
		cursor: pointer;
	}
.topic li:hover, .active
	{
		color: #000 !important;
		border-bottom: solid 2px #FF3C3C;
	}
.cross 
	{
		float: right !important;
		width: 15px;
		border-bottom: none !important;
		margin: 0 !important;
	}
.cross span
	{
		float: left;
		background-image: url(../images/cancel.png);
		width: 15px;
		height: 15px;
	}
.details 
	{
		float: left;
		width: 94%;
		margin: 20px 0 0 0;
		padding: 0 3%;
	}
.details form 
	{
		float: left;
		width: 100%;
	}
.formtype 
	{
		float: left;
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
	}
.formtype li 
	{
		float: left;
		width: 100%;
	}
.formtype label
	{
		float: left;
		width: 100%;
		margin: 20px 0 10px 0;
	}
.formtype label input 
	{
		border: solid 1px #666;
		width: 96%;
		padding: 2%;
		margin: 5px 0;
		border-radius: 5px;
	}
.check label
	{
		float: left;
		width: 42% !important;
		margin: 0 !important;
		font-size: 12px !important;
	}
.check label input 
	{
		float: left;
		width: 10px !important;
		margin: 1px 8px 0 0 !important;
	}
.check a, .check2 a, .submitb a, .submitp a
	{
		float: right;
		text-decoration: none;
		font-size: 12px;
		color: #FF3C3C;
		font-weight: bold;
	}
.submitb, .submitp
	{
		margin: 20px 0 0 0 !important;
		display: block;
		text-align: center;
	}
.submitp 
	{
		font-size: 12px !important;
	}
.submitb input
	{
		display: inline-block;
		float: none;
		padding: 2px 30px;
		border-radius: 5px;
		background-color: #ff3c3c;
		font-size: 18px;
		cursor: pointer;
	}
.submitb a 
	{
		display: inline-block !important;
		float: none;
		font-size: 14px;
	}
.submitp a
	{
		font-size: 12px !important;
		float: none;
	}