/*CSS file to style privacy.php file*/
 /****styling the body ****/
body 
	{
		margin: 0;
		font-family: 'Open Sans', sans-serif;
	}
 /****styling the main from the top to bottom ****/
.main 
	{
		float: left;
		width: 100%;
	}
/****styling the midWrap class****/
.midWrap 
	{
		max-width: 1200px;
		margin: auto;
	}
/****styling the wrapper class****/
.wrapper 
	{
		float: left;
		width: 96%;
		margin: 20px 2%;
	}
/****styling the topwrap class****/
.topwrap 
	{
		float: left;
		width: 100%;
		display: block;
		text-align: center;
	}
.topwrap h1
	{
		float: left;
		width: 100%;
		font-family: cursive;
		text-align: center;
		margin: 0;
		padding: 0;
		display: block;
		position: relative;
		font-size: 36px;
	}
.topwrap span
	{
		width: 170px;
		border-bottom: solid 2px #FFB900;
		position: absolute;
		left: 0;
		right: 0;
		top: 50px;
		text-align: center;
		margin: auto;
	}

.bodyWrap 
	{
		float: left;
		width: 100%;
		margin: 30px 0;
	}
/****styling the Paragraph****/
.para 
	{
		float: left;
		width: 100%;
	}
.para p
	{
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: 16px;
		line-height: 23px;
		text-align: justify;
	}
/****styling the headings class****/
.headings 
	{
		float: left;
		width: 100%;
	}
.headings h2
	{
		float: left;
		width: 100%;
		color: #2D55A4;
		font-size: 26px;
		margin: 20px 0;
	}
.para a 
	{
		text-decoration: none;
		color: #2D55A4;
		font-weight: bold;
	}
